/* Draft Page Specific CSS */

main {
  width: 960px;
  margin: 30px auto 30px auto;
}

/*result part image+info*/
.main_draft {
  width: 70%;
  float: right;
}
.left {
  float: left;
  height: 300px;
  width: 20%;
}
.right {
  float: left;
  height: 300px;
  width: 60%;
  padding-left: 120px;
}
.right h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.right ul li {
  line-height: 1.7em;
  font-weight: bold;
}
.hidden {
  display: none;
}

/* Styles for the checked images */
img.inactive {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  margin: 5px;
  cursor: pointer;
}
img.inactive:hover {
  width: 200px;
  height: 200px;
  border: 5px solid lightgrey;
  margin: 5px;
  cursor: pointer;
}
img.active {
  width: 200px;
  height: 200px;
  border: 5px solid #c10816;
  margin: 5px;
  opacity: .5;
  cursor: pointer;
}
img.active:hover {
  width: 200px;
  height: 200px;
  border: 5px solid #c10816;
  margin: 5px;
  opacity: .5;
  cursor: pointer;
}

/*#warriorForm {
  width: 20%;
  margin: 0 auto;
  margin-top: 75px;
}*/

/*#photos {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}*/

/*#photo_wrapper {
  max-width: 900px;
  width: 100%;
  margin: 30px auto;
  padding-top: 60px;
  margin-bottom: 120px;
  outline:dotted 5px red;
}*/

#photo_wrapper li {
  display: inline-block;
}
#warriorListInBuilder {
    max-width: 450px;
    padding: 3px 0;
    margin: 0 auto;
}
#warriorListInBuilder li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
  margin: 5px;
  color: #fff;
}
#selectedWarriors {
  margin-right:100px;
  position: fixed;
  background-color:#696969;
  height:350px;
  width:240px;
  border-radius:20px 20px 20px 20px;
  right: 0;
}
#selectedWarriors h3 {
  color: #fff;
  padding-top: 20px;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  text-align: center;
}
#submitButton {
  margin-top:170px;
  margin-left: 10px;
  width:220px;
  padding:10px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  background: black;
  color: white;
  transition: 350ms all;
  font-family: 'Play', sans-serif;

}
#submitButton:hover {
  background: #555;
  color: #eee;
}
.notSelected {
  display: none;
}

li:hover div.notSelected {
  display: block;;
  position: absolute;;
  width: 200px;
  height: 50px;
  margin-top: -63px;
  margin-left: 10px;
  background-color: black;
  opacity: 0.7;
  text-align: center;
  }
li:hover .notSelected p {
  display: inline;
  position: relative;
  width: 150px;
  margin: 0px auto;
  font-size: 30px;
  color: white;
  opacity: .7;
}
div.selected {
  display: block;;
  position: absolute;;
  width: 200px;
  height: 50px;
  margin-top: -63px;
  margin-left: 10px;
  background-color: black;
  opacity: 0.7;
  text-align: center;
}
.selected p {
  display: inline;
  position: relative;
  width: 150px;
  margin: 0px auto;
  font-size: 30px;
  text-shadow: 0 0 5px black;
  color: #c10816;
  z-index: 8;
  }

/*filter section*/
aside {
  width: 20%;
  float: left;
  position:fixed;
  background-color:#696969;
  height:350px;
  width:260px;
  border-radius:20px 20px 20px 20px;
  margin-right: 30px;

}
button {
  margin-top: 20px;
  padding: 10px 65px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  background: #000;
  color: #fff;
  transition: 350ms all;
  font-family: 'Play', sans-serif;
}
button:hover {
  background: #555;
  color: #eee;
}
.row{
  height:35px;
  width:200px;
  margin-bottom:20px;
  color:white;
  font-size:20px;
  font-family: 'Play', sans-serif;
  margin-left:40px;
}
#gender{
  margin-top:20px;
  border-radius:10%;
  width:100px;
}
#workWell{
  margin-top:10px;
  border-radius:10%;
  width:100px;
}
#saveWho{
  margin-top:10px;
  border-radius:10%;
  width:100px;
}
#specialty{
  margin-top:10px;
  border-radius:10%;
  width:100px;
}
#language{
  margin-top:10px;
  border-radius:10%;
  width:100px;
}
